<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSV File Uploader</title>
    <style>
        .myinputs{
            margin-left: 42%;
         }
         h6{
             margin-left: 22%;
             padding-top: 9%;
             color: rgb(17, 17, 17);
         }
        
    </style>
</head>
<body style="background-color: rgb(241, 241, 241);">

<div class="myform"></div>
    <form method="POST"  >
        <h6 style="font-size: 50px;" >Hi, Please upload your CSV file here</h6>
        <div class="myinputs">
            <input type="file" name="csvinput"> <br> <br>
            <input style="margin-left: 1.5%;" type="submit" name="submit" value="submit">
        </div>
    </form>
</div>  
    
</body>
</html>